*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(to right, #db80ca, #ddc964);
}
.container{
    /* background-color: #ffffff; */
    width: 450px;
    padding: 50px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* border-radius: 10px; */
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
    text-align: center;


    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(181%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
button{
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.1s ease;
}
button:hover{
    outline: 1px solid black;
}
input[type="color"]{
    -webkit-appearance: none;
    background-color: transparent;
    width: 100px;
    height: 45px;
    cursor: pointer;
    border: none;
}
input[type="color"]::-webkit-color-swatch{
    border-radius: 20px;
}
.code{
    padding: 1rem;
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(181%);
    border-radius: 6px;
    border: 1px solid rgba(142, 142, 142, 0.507);
    cursor: pointer;
    transition: all 0.07s linear;
}
.code:hover{
    background-color: #eee;
    border: 1px solid #7b7b7b;
}